<section class="mentors" id="mentors">
  <div class="contanier">
    <h2 class="mentors-title">
      Our <span class="mentors-highlight">Mentors</span>
    </h2>
    <ul class="mentors-list">
      <li class="mentor-card">
        <img
          src="./img/Emilia-Smith.jpg"
          srcset="./img/Emilia-Smith@2x.jpg 2x"
          alt="Emilia-Smith"
        />
        <h3>Emilia Smith</h3>
        <p>1.5 years of experience</p>
      </li>
      <li class="mentor-card">
        <img
          src="./img/Alex-Lebedev.jpg"
          alt="Alex-Lebedev"
          srcset="./img/Alex-Lebedev@2x.jpg 2x"
        />

        <h3>AlexLebedev</h3>
        <p>3.5 years of experience</p>
      </li>
      <li class="mentor-card">
        <img
          src="./img/Mia-Dubrovska.jpg"
          alt="Mia-Dubrovska"
          srcset="./img/Mia-Dubrovska@2x.jpg 2x"
        />
        <h3>Mia Dubrovska</h3>
        <p>2.0 years of experience</p>
      </li>
      <li class="mentor-card">
        <img
          src="./img/Eliot-Kovalev.jpg"
          alt="Eliot-Kovalev"
          srcset="./img/Eliot-Kovalev@2x.jpg 2x"
        />
        <h3>Eliot Kovalev</h3>
        <p>4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
